
body{
    background-color: bisque;
}
header{
    border: 2px solid orange;
}
/* footer */
footer{
    background-color: #a9d6d6; 
    height: 39px; 
    text-align: center;
    width: auto
}
h5{
    color:white; 
    padding: 12px;
    text-align:center
}